.modal-container {
    height: 100vh;
    width: 100%;
    background-color: rgba(0,0,0,.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2000;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal-container.ativo {
    display: flex;
}

.modal {
    background: white;
    min-width: 300px;
    padding: 40px;
    border: 10px solid rgb(85, 173, 255);
    box-shadow:  0 0 0 10px white;
    position: relative;
    transition: .3s;
}

@keyframes modal {
    from {
        opacity: 0;
        transform: translate3d(0,-30px,0);
    }
    to {
        opacity: 1;
        transform: translate3d(0,0,0);
    }
}
.ativo.modal {
    animation: modal .3s forwards;

}

.fechar {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 4px solid white;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,.3);
    background: rgb(85, 187, 255);
    border-radius: 50%;
    top: -30px;
    right: -30px;
    font-size: 1.2rem;
    color: white;
    font-family: monospace;
    cursor: pointer;
}

.modal label {
    font-family: monospace;
    display: block;
    font-weight: bold;
    margin: 1rem 0 .5rem 0;
}

.modal input {
    width: 100%;
    padding: .7rem .5rem;
    box-sizing: border-box;
}

.modal button[type="submit"] {
    display: block;
    padding: .7rem .5rem;
    background: rgb(85, 187, 255);
    border-radius: 4px;
    border: none;
    font-size: 1rem;
    color: white;
    font-family: monospace;
    margin-top: 1rem;
    font-weight: bold;
}